body{
    margin:0px;
    padding:0px;
    font-family: verdana;
    width:1340px;
    display:block;
}
li{
    display: inline-flex;
    list-style-type: none;
    margin:10px;
    padding: 2px;
}
.header{
    display:flex;
    width: 1300px;
    margin:0px;
    padding: 0px;
}
.nav-menu{
    text-align: end;
    width:70%;
    float:right;
    height: 150px;
}
#logo{
    width:30%;
    display:block;
    float:left;
    height: 150px;
  }
#nav{
    font-size: 12px;
    height: 50%;
    color:gray;
    font-weight: bold;
}
#menu{
    font-size: 15px;
    font-weight: bold;
    height: 50%;
    width:100%;
}
.baner{
    width:100%;
}
#baner img{
   display:block;
   margin:0 auto;   
}
#logo img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section1{
    display:flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}
#text{
    width:55%;
    display:block;
    text-align: left;
    overflow:visible;
    align-items: center;
}
#image{
    width:40%;
    overflow:visible;
}
p{
    margin-top: 30px;
    margin-bottom: 30px;
    display:block;
}
#click{
    position: relative;
    width: 100%;
    height: 300px;
    margin:0px;
    padding:0px;
}
#napis{
    position:absolute;
    background: rgba(0,0,255,0.7);
    transform: translateY(-305px);
    height: 305px;
    color:white;
    text-align: center;
    font-weight: normal;
}
#konsultacja{
    display: block;
    transform: translateY(-150px);
    width: 30%;
    border:3px solid rgb(255, 102, 0);
    text-align: center;
    justify-content: center;
    font-weight: bold;
    color:white;
    background: rgb(255, 102, 0);
    margin:0 auto;
}
.praca{
    width:100%;
    height: 500px;
}
#a1{
    width: 100%;
    text-align: center;
    margin:0 auto;
    align-items: center;
    height: 40%;
}
#a2{
    width:100%;
    display: flex;
    height: 60%;
    justify-content: start;
}
#a{
    width:25%;
    align-items: center;
    text-align: center;
}
#b{
    width:25%;
    align-items: center;
    text-align: center;
}
#c{
    width:25%;
    align-items: center;
    text-align: center;
}
#d{
    width:25%;
    align-items: center;
    text-align: center;
}

hr{
    width:30%;
    height: 3px;
    border:0px;
    background: orange;
}
.tlo{
    width:100%;
    height: 1200px;
}
#b1{
    width:100%;
    height:400px;
    position: relative;
}
#b11{
    position: absolute;
    background: rgba(0,0,0,0.8);
    transform: translateY(-400px);
    color:white;
    text-align: center;
    font-weight: normal;
    font-size: 25px;
    width:100%;
    height:400px;
    display:block;
}
#z{
    display: flex;
    width:100%;
    justify-content: center;
}
#b111{
    width:25%;
    color:white;
    margin:25px;
}
#b112{
    width:25%;
    color:white;
    margin:25px;
}
#b113{
    width:25%;
    color:white;
    margin:25px;
}
#b114{
    width:25%;
    color:white;
    margin:25px;
}
#b2{
    width:100%;
    height:400px;
    display:flex;
}
#b12{
    width:50%;
    position:relative;
    height: 400px;
}
#cien{
    position:absolute;
    background: rgba(0,0,255,0.7);
    transform: translateY(-402px);
    height: 400px;
    color:white;
    text-align: center;
}
#b22{
    width:50%;
    position: relative;
    height: 400px;
    align-items: center;
}
#cien2{
    position:absolute;
    transform: translateY(-202px);
    height:200px;
    text-align: center;
}
#b3{
    width:100%;
    height:400px;
    background:rgba(0,0,0,0.8);
    color:white;
    border:1px solid rgba(0,0,0,0.8);
    text-align: center;
}
.foto{
    width:100%;
    height: 80%;
    display:flex;
    justify-content: space-around;
}
#circle1{
    width:200px;
    height:200px;   
}
#circle2{
    width:200px;
    height:200px;  
}
#circle3{
    width:200px;
    height:200px; 
}
#circle4{
    width:200px;
    height:200px;
}
.foto img{
    border-radius: 50%;
    margin:25px;
}
.footer{
    width: 100%;
    height:600px;
    text-align: center;
    display:block;
    justify-content: center;
}
#footer1{
    width:100%;
    height:100px;
    color:blue;
    font-size: 25px;
    font-weight: bold;
    line-Height:100px;
    }

    #stopka{
        width:100%;
        height: 200px;
        display:flex;
    }
    #st1{
        width: 20%;
        height:100%;
    }
    #st2{
        width: 20%;
        height:100%;
    }
    #st3{
        width: 20%;
        height:100%;
    }
    #st4{
        width: 20%;
        height:100%;
    }
    #st5{
        width: 20%;
        height:100%;
    }
#menu2{
    color:white;
    font-weight:bold;
    background:rgba(0,0,0,0.8);
    width:100%;
    height:50px;
    border-bottom: 0.5px solid white;
}
#stopka2{
    width:100%;
    height: 300px;
    color:white;
    display:flex;
    background:rgba(0,0,0,0.8);
    align-items: center;
}
#onas{
    width: 25%;
    height: 100%;
}
#stopka2 li{
    list-style-type: none;
    display: block;
    text-align: left;
    font-size: 13px;
}
#placowki{
    width: 25%;
    height: 100%;
}
#oferta{
    width: 25%;
    height: 100%;
}
#pacjent{
    width: 25%;
    height: 100%;
}
#stopka3 p{
    color:white;
    background: rgba(0,0,0,0.9);
    text-align: left;
    font-size: 10px;
    width :100%;
    height: 50px;
    margin: 0;
}